<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>
  {{!-- using navbar with help of partials --}}
  {{>navbar}}
<p id="lol" >Hi, I am Disha kalra.</p>

   {{>footer}}
    
    <script src="main.js">

    </script>
</body>
</html>